# First of all...remember the imports!!!

Ohhhh...Python is so easy and nice 'cause there's always someone else doing the hard stuff...

![Image](../images/import.jpg)

In [1]:
import requests
import pandas as pd
import re
import json
import math

# ...and remenber to leave everything nice and tidy...

![Image](../images/spaghetti.jpg)

In [2]:
API_TOKEN = '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' #API TOKEN (REMEMBER: do not push these to your repo)
USERNAME = 'Louruiz89' #USERNAME
BASE_URL = 'https://api.github.com/'
KEY = 'repos/'
OWNER = 'ih-datapt-mad/'
REPO = 'dataptmad0223_labs/' #LAB_REPOSITORY
SEARCH = 'search/issues?q=repo:'+OWNER+REPO+'+type:pr+state:{}'
PULLS = 'pulls?page={}&per_page=100&state={}'
COMMITS = 'pulls/{}/commits'
STATE = 'open'

In [3]:
field_list1 = ['number',
               'title',
               'state',
               'created_at',
               'updated_at',
               'closed_at',
               'html_url',
               'base.repo.full_name',
               'base.ref',
               'head.repo.full_name',
               'head.ref',
               'head.repo.pushed_at']

In [4]:
field_list2 = ['student_name',
               'number',
               'lab_name',
               'state',
               'lab_status',
               'created_at',
               'updated_at',
               'closed_at',
               'html_url',
               'base.repo.full_name',
               'base.ref',
               'head.repo.full_name',
               'head.ref',
               'head.repo.pushed_at']

In [5]:
field_sort1 = ['lab_status',
               'lab_name',
               'student_name']

In [6]:
field_name1 = ['Student Name',
               'PR Number',
               'Lab Name',
               'PR Status',
               'Lab Status',
               'PR Created at',
               'PR Updated at',
               'PR Closed at',
               'PR URL',
               'base repository',
               'base',
               'head repository',
               'compare',
               'Pushed at']

# Functions 

Here you may find all functions you need to create your Pipeline. Be sure you test them before you start to build your Pipeline.

![Image](../images/pieces.jpg)

### Auxiliary Functions

In [7]:
# Aux Function 1: You can get only 100 results per page so it is important to know the number of pages you'll need.

def pages(base_url, search, state, username, api_token):
    pages = requests.get(base_url + search.format(state), auth=(username,api_token)).json()['total_count']
    if STATE == 'open':
        pages = math.ceil(pages/100)
        return pages
    elif STATE == 'closed':
        pages = math.ceil(pages/100)
        return pages

In [8]:
# Auc Function 2: Check the committs in order to know which labs are ready to be reviewed.

def get_commits(base_url, key, owner, repo, commits, pull, username, api_token):
    r_commits = requests.get(base_url + key + owner + repo + commits.format(pull),
                             auth=(username, api_token)).json()
    df_commits = pd.json_normalize(r_commits)
    list_commits = list(df_commits['commit.message'])
    commit = list(set([commit if commit == 'lab-finished' else 'lab-started' for commit in list_commits]))
    if 'lab-finished' in commit:
        return 'lab-finished'
    else:
        return 'lab-started'

In [9]:
# Aux Function 3: But the students aren't careful with the naming...

def student_name(x):
    if ']' in x:
        x = x.split(']')
        x = x[1].replace('_', ' ').strip()
        len_x = len(x.split(' '))
        if len_x > 1:
            x = re.findall('\w[a-zA-Z áéíóúÁÉÍÓÚñÑ-]+', x)
            x = x[0].strip()
            return x
        else:
            x = 'No student name provided'
            return x
    else:
        x = 'Pull request is not properly named'
        return x

In [10]:
#Aux Function 4

def lab_name(x):
    if ']' in x:
        x = x.split(']')
        x = x[0] + ']'
        x = x.strip()
        lower_case = re.findall('[A-ZÁÉÍÓÚñÑ]+', x)
        if x[0] == '[' and x[-1] == ']' and ' ' not in x and len(lower_case) == 0:
            return x
        else:
            x = 'Lab format name is incorrect'
            return x
    else:
        x = 'Pull request is not properly named'
        return x

In [11]:
# Aux Function 5: ...or forget to push their work!!!

def time_parser(x):
    try:
        x = x.strip()
        x = re.findall('[0-9]+', x)
        x = ''.join(x)
        x = pd.to_datetime(x, format='%Y%m%d%H%M%S', errors='coerce')
        return x
    except:
        return 'Nothing pushed yet'

### Pipeline Functions

In [12]:
# Pipeline Function 1: And finally get the 'pull requests'.

def get_pulls(base_url, key, owner, repo, pulls, search, state, username, api_token, field_list):
    pulls_list = []
    max_pages = pages(base_url, search, state, username, api_token)
    for i in range(max_pages):
        r_pulls = requests.get(base_url + key + owner + repo + pulls.format(i+1, state),
                               auth=(username, api_token)).json()
        df_pulls = pd.json_normalize(r_pulls)
        pulls_list.append(df_pulls)
    df_pulls = pd.concat(pulls_list)
    df_pulls = df_pulls[field_list]
    return df_pulls

In [13]:
# Pipeline Function 2: Apply!!!!!!

def df_status(df_pulls, base_url, key, owner, repo, commits, username, api_token, field_list):
    df_pulls['student_name'] = df_pulls['title'].apply(student_name)
    df_pulls['lab_name'] = df_pulls['title'].apply(lab_name)
    df_pulls['created_at'] = df_pulls['created_at'].apply(time_parser)
    df_pulls['updated_at'] = df_pulls['updated_at'].apply(time_parser)
    df_pulls['head.repo.pushed_at'] = df_pulls['head.repo.pushed_at'].apply(time_parser)
    df_pulls['lab_status'] = df_pulls.apply(lambda col: get_commits(base_url,
                                                                    key,
                                                                    owner,
                                                                    repo,
                                                                    commits,
                                                                    col['number'],
                                                                    username,
                                                                    api_token), axis=1)
    df_status = df_pulls[field_list]
    return df_status

In [14]:
# Pipeline function 3: And there you have it!!!

def create_csv(df_status, field_sort, field_name):
    df_csv = df_status.sort_values(by=field_sort, ascending=False)
    df_csv.columns = field_name
    df_csv.to_csv('../data/labs_status.csv', index=False)
    return df_csv

In [15]:
# Damned Pipelines!!!

DF_PULLS = get_pulls(BASE_URL, KEY, OWNER, REPO, PULLS, SEARCH, STATE, USERNAME, API_TOKEN, field_list1)
DF_STATUS = df_status(DF_PULLS, BASE_URL, KEY, OWNER, REPO, COMMITS, USERNAME, API_TOKEN, field_list2)
DF_CSV = create_csv(DF_STATUS, field_sort1, field_name1)
DF_CSV

,Student Name,PR Number,Lab Name,PR Status,Lab Status,PR Created at,PR Updated at,PR Closed at,PR URL,base repository,base,head repository,compare,Pushed at
0,No student name provided,147,Lab format name is incorrect,open,lab-started,2023-03-31 18:36:26,2023-03-31 18:37:25,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,HerminiaPadial/dataptmad0223_labs,My_SQL_Select,2023-03-31 18:34:41
1,No student name provided,145,Lab format name is incorrect,open,lab-started,2023-03-31 15:32:08,2023-03-31 15:32:08,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,capyami/dataptmad0223_labs,lab-mysql,2023-03-31 14:58:19
2,No student name provided,143,Lab format name is incorrect,open,lab-started,2023-03-31 07:59:12,2023-03-31 07:59:12,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,magnofz/dataptmad0223_labs,advanced-mysql,2023-03-31 07:52:50
3,No student name provided,142,Lab format name is incorrect,open,lab-started,2023-03-30 17:11:30,2023-03-30 17:11:30,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,MargaMontV/dataptmad0223_labs,mysql,2023-03-30 17:10:46
6,No student name provided,139,Lab format name is incorrect,open,lab-started,2023-03-30 09:55:10,2023-03-30 16:43:54,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,magnofz/dataptmad0223_labs,mysql-select,2023-03-31 07:52:50
7,No student name provided,138,Lab format name is incorrect,open,lab-started,2023-03-30 07:57:30,2023-03-30 07:57:30,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,magnofz/dataptmad0223_labs,mysql,2023-03-31 07:52:50
8,No student name provided,137,Lab format name is incorrect,open,lab-started,2023-03-28 15:28:32,2023-03-28 15:28:32,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,damarianor/dataptmad0223_labs,mysql,2023-03-31 10:46:43
9,No student name provided,136,Lab format name is incorrect,open,lab-started,2023-03-28 11:05:12,2023-03-28 11:05:12,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,Mohammad-Mujib/dataptmad0223_labs,mysql,2023-03-28 11:03:16
5,Diego Bonilla,140,[mysql],open,lab-finished,2023-03-30 14:23:15,2023-03-30 14:23:15,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,DiegoBonilla39/dataptmad0223_labs,mysql,2023-03-30 15:23:41
4,Diego Bonilla,141,[mysql-select],open,lab-finished,2023-03-30 15:24:39,2023-03-30 15:24:39,None,https://github.com/ih-datapt-mad/dataptmad0223...,ih-datapt-mad/dataptmad0223_labs,main,DiegoBonilla39/dataptmad0223_labs,mysql-select,2023-03-30 15:23:41